Wap_Xzone_VNM/Web References/DT_THCSService/THCSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://123.30.181.21:8080/THCSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntities" />
  <xs:element name="QueryDataDCS_Standard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataDCS_StandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryDataDCS_StandardResult" nillable="true" type="q1:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataDCS_Custom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataDCS_CustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryDataDCS_CustomResult" nillable="true" type="q2:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderDCS_Standard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderDCS_StandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryOrderDCS_StandardResult" nillable="true" type="q3:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderDCS_Custom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderDCS_CustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryOrderDCS_CustomResult" nillable="true" type="q4:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>