Wap_Xzone_VNM/Web References/NhacChoSub/MOProcessor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessMO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessMOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessMOSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMO" />
  </wsdl:message>
  <wsdl:message name="ProcessMOSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMOResponse" />
  </wsdl:message>
  <wsdl:portType name="MOProcessorSoap">
    <wsdl:operation name="ProcessMO">
      <wsdl:input message="tns:ProcessMOSoapIn" />
      <wsdl:output message="tns:ProcessMOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOProcessorSoap" type="tns:MOProcessorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMO">
      <soap:operation soapAction="http://tempuri.org/ProcessMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MOProcessorSoap12" type="tns:MOProcessorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMO">
      <soap12:operation soapAction="http://tempuri.org/ProcessMO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOProcessor">
    <wsdl:port name="MOProcessorSoap" binding="tns:MOProcessorSoap">
      <soap:address location="http://sv36.vmgmedia.vn:9005/MOProcessor.asmx" />
    </wsdl:port>
    <wsdl:port name="MOProcessorSoap12" binding="tns:MOProcessorSoap12">
      <soap12:address location="http://sv36.vmgmedia.vn:9005/MOProcessor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>