Wap_Xzone_VNM/Web References/WsDvTet/S2Vnm1119Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubscribeFromWap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeFromWapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeFromWapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubscribeFromWapSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeFromWap" />
  </wsdl:message>
  <wsdl:message name="SubscribeFromWapSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeFromWapResponse" />
  </wsdl:message>
  <wsdl:portType name="S2Vnm1119ServiceSoap">
    <wsdl:operation name="SubscribeFromWap">
      <wsdl:input message="tns:SubscribeFromWapSoapIn" />
      <wsdl:output message="tns:SubscribeFromWapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="S2Vnm1119ServiceSoap" type="tns:S2Vnm1119ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeFromWap">
      <soap:operation soapAction="http://tempuri.org/SubscribeFromWap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="S2Vnm1119ServiceSoap12" type="tns:S2Vnm1119ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribeFromWap">
      <soap12:operation soapAction="http://tempuri.org/SubscribeFromWap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S2Vnm1119Service">
    <wsdl:port name="S2Vnm1119ServiceSoap" binding="tns:S2Vnm1119ServiceSoap">
      <soap:address location="http://123.29.67.71:8007/S2Vnm1119Service.asmx" />
    </wsdl:port>
    <wsdl:port name="S2Vnm1119ServiceSoap12" binding="tns:S2Vnm1119ServiceSoap12">
      <soap12:address location="http://123.29.67.71:8007/S2Vnm1119Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>