Wap_Xzone_VNM/Web References/WS_VNMChelsea/WS_VNMChelsea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Process">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WapRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WapRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WapRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessSoapIn">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="ProcessSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="WapRequestSoapIn">
    <wsdl:part name="parameters" element="tns:WapRequest" />
  </wsdl:message>
  <wsdl:message name="WapRequestSoapOut">
    <wsdl:part name="parameters" element="tns:WapRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_VNMChelseaSoap">
    <wsdl:operation name="Process">
      <wsdl:input message="tns:ProcessSoapIn" />
      <wsdl:output message="tns:ProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WapRequest">
      <wsdl:input message="tns:WapRequestSoapIn" />
      <wsdl:output message="tns:WapRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_VNMChelseaSoap" type="tns:WS_VNMChelseaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://tempuri.org/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WapRequest">
      <soap:operation soapAction="http://tempuri.org/WapRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_VNMChelseaSoap12" type="tns:WS_VNMChelseaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://tempuri.org/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WapRequest">
      <soap12:operation soapAction="http://tempuri.org/WapRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_VNMChelsea">
    <wsdl:port name="WS_VNMChelseaSoap" binding="tns:WS_VNMChelseaSoap">
      <soap:address location="http://sv36.vmgmedia.vn:8340/WS_VNMChelsea.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_VNMChelseaSoap12" binding="tns:WS_VNMChelseaSoap12">
      <soap12:address location="http://sv36.vmgmedia.vn:8340/WS_VNMChelsea.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>