Wap_Xzone_VNM/Web References/CreateAvatar/MOReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceverMO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceverMOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceverMOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringToMD5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringToMD5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringToMD5Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUrlVideobyVideoID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUrlVideobyVideoIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnUrlVideobyVideoIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAvatarThumnail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAvatarThumnailResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenerateAvatarMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAvatarMemberResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceverMOSoapIn">
    <wsdl:part name="parameters" element="tns:ReceverMO" />
  </wsdl:message>
  <wsdl:message name="ReceverMOSoapOut">
    <wsdl:part name="parameters" element="tns:ReceverMOResponse" />
  </wsdl:message>
  <wsdl:message name="StringToMD5SoapIn">
    <wsdl:part name="parameters" element="tns:StringToMD5" />
  </wsdl:message>
  <wsdl:message name="StringToMD5SoapOut">
    <wsdl:part name="parameters" element="tns:StringToMD5Response" />
  </wsdl:message>
  <wsdl:message name="ReturnUrlVideobyVideoIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnUrlVideobyVideoID" />
  </wsdl:message>
  <wsdl:message name="ReturnUrlVideobyVideoIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnUrlVideobyVideoIDResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateAvatarThumnailSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateAvatarThumnail" />
  </wsdl:message>
  <wsdl:message name="GenerateAvatarThumnailSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateAvatarThumnailResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateAvatarMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateAvatarMember" />
  </wsdl:message>
  <wsdl:message name="GenerateAvatarMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateAvatarMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="MOReceiverSoap">
    <wsdl:operation name="ReceverMO">
      <wsdl:input message="tns:ReceverMOSoapIn" />
      <wsdl:output message="tns:ReceverMOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StringToMD5">
      <wsdl:input message="tns:StringToMD5SoapIn" />
      <wsdl:output message="tns:StringToMD5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUrlVideobyVideoID">
      <wsdl:input message="tns:ReturnUrlVideobyVideoIDSoapIn" />
      <wsdl:output message="tns:ReturnUrlVideobyVideoIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarThumnail">
      <wsdl:input message="tns:GenerateAvatarThumnailSoapIn" />
      <wsdl:output message="tns:GenerateAvatarThumnailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarMember">
      <wsdl:input message="tns:GenerateAvatarMemberSoapIn" />
      <wsdl:output message="tns:GenerateAvatarMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOReceiverSoap" type="tns:MOReceiverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceverMO">
      <soap:operation soapAction="http://tempuri.org/ReceverMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringToMD5">
      <soap:operation soapAction="http://tempuri.org/StringToMD5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUrlVideobyVideoID">
      <soap:operation soapAction="http://tempuri.org/ReturnUrlVideobyVideoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarThumnail">
      <soap:operation soapAction="http://tempuri.org/GenerateAvatarThumnail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarMember">
      <soap:operation soapAction="http://tempuri.org/GenerateAvatarMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MOReceiverSoap12" type="tns:MOReceiverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceverMO">
      <soap12:operation soapAction="http://tempuri.org/ReceverMO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringToMD5">
      <soap12:operation soapAction="http://tempuri.org/StringToMD5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUrlVideobyVideoID">
      <soap12:operation soapAction="http://tempuri.org/ReturnUrlVideobyVideoID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarThumnail">
      <soap12:operation soapAction="http://tempuri.org/GenerateAvatarThumnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAvatarMember">
      <soap12:operation soapAction="http://tempuri.org/GenerateAvatarMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOReceiver">
    <wsdl:port name="MOReceiverSoap" binding="tns:MOReceiverSoap">
      <soap:address location="http://media.xzone.vn:8067/MOReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="MOReceiverSoap12" binding="tns:MOReceiverSoap12">
      <soap12:address location="http://media.xzone.vn:8067/MOReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>