Wap_Xzone_VNM/Web References/vn.xzone.media.TinTucTheThaoSo/GetAvatarThumb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="avatarPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarNotCrop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="avatarPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarNotCropResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarNotCropResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarByCrop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="avatarPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarByCropResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarByCropResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarByCropFromBackend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="avatarPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarByCropFromBackendResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAvatarWithTextWaterMarkWithResize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="avatarPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="font" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fontSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fontBold" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="floatx" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isOverwrite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarWithTextWaterMarkWithResizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarWithTextWaterMarkWithResizeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatar" />
  </wsdl:message>
  <wsdl:message name="GetAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvatarNotCropSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatarNotCrop" />
  </wsdl:message>
  <wsdl:message name="GetAvatarNotCropSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarNotCropResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvatarByCropSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatarByCrop" />
  </wsdl:message>
  <wsdl:message name="GetAvatarByCropSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarByCropResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvatarByCropFromBackendSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatarByCropFromBackend" />
  </wsdl:message>
  <wsdl:message name="GetAvatarByCropFromBackendSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarByCropFromBackendResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvatarWithTextWaterMarkWithResizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatarWithTextWaterMarkWithResize" />
  </wsdl:message>
  <wsdl:message name="GetAvatarWithTextWaterMarkWithResizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarWithTextWaterMarkWithResizeResponse" />
  </wsdl:message>
  <wsdl:portType name="GetAvatarThumbSoap">
    <wsdl:operation name="GetAvatar">
      <wsdl:input message="tns:GetAvatarSoapIn" />
      <wsdl:output message="tns:GetAvatarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatarNotCrop">
      <wsdl:input message="tns:GetAvatarNotCropSoapIn" />
      <wsdl:output message="tns:GetAvatarNotCropSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCrop">
      <wsdl:input message="tns:GetAvatarByCropSoapIn" />
      <wsdl:output message="tns:GetAvatarByCropSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCropFromBackend">
      <wsdl:input message="tns:GetAvatarByCropFromBackendSoapIn" />
      <wsdl:output message="tns:GetAvatarByCropFromBackendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatarWithTextWaterMarkWithResize">
      <wsdl:input message="tns:GetAvatarWithTextWaterMarkWithResizeSoapIn" />
      <wsdl:output message="tns:GetAvatarWithTextWaterMarkWithResizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAvatarThumbSoap" type="tns:GetAvatarThumbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvatar">
      <soap:operation soapAction="http://tempuri.org/GetAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarNotCrop">
      <soap:operation soapAction="http://tempuri.org/GetAvatarNotCrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCrop">
      <soap:operation soapAction="http://tempuri.org/GetAvatarByCrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCropFromBackend">
      <soap:operation soapAction="http://tempuri.org/GetAvatarByCropFromBackend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarWithTextWaterMarkWithResize">
      <soap:operation soapAction="http://tempuri.org/GetAvatarWithTextWaterMarkWithResize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetAvatarThumbSoap12" type="tns:GetAvatarThumbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvatar">
      <soap12:operation soapAction="http://tempuri.org/GetAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarNotCrop">
      <soap12:operation soapAction="http://tempuri.org/GetAvatarNotCrop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCrop">
      <soap12:operation soapAction="http://tempuri.org/GetAvatarByCrop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarByCropFromBackend">
      <soap12:operation soapAction="http://tempuri.org/GetAvatarByCropFromBackend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarWithTextWaterMarkWithResize">
      <soap12:operation soapAction="http://tempuri.org/GetAvatarWithTextWaterMarkWithResize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAvatarThumb">
    <wsdl:port name="GetAvatarThumbSoap" binding="tns:GetAvatarThumbSoap">
      <soap:address location="http://media.xzone.vn:9004/GetAvatarThumb.asmx" />
    </wsdl:port>
    <wsdl:port name="GetAvatarThumbSoap12" binding="tns:GetAvatarThumbSoap12">
      <soap12:address location="http://media.xzone.vn:9004/GetAvatarThumb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>