Wap_Xzone_VNM/Web References/DT_THPTService/THPTService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://123.30.181.21/THPTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntities" />
  <xs:element name="QueryDataTNPT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataTNPTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryDataTNPTResult" nillable="true" type="q1:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderTNPT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smsId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderTNPTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntities" minOccurs="0" name="QueryOrderTNPTResult" nillable="true" type="q2:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>