Wap_Xzone_VNM/Backup/3GChargingWebService/Web References/WebReference/NMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="NMSCGW" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="NMSCGW" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="NMSCGW">
      <s:element name="CheckBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balancename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extDebit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shortcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extDebitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="extDebitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extDebit2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shortcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extDebit2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="extDebit2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETMSISDN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETMSISDNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETMSISDNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckBalance" />
  </wsdl:message>
  <wsdl:message name="CheckBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="extDebitSoapIn">
    <wsdl:part name="parameters" element="tns:extDebit" />
  </wsdl:message>
  <wsdl:message name="extDebitSoapOut">
    <wsdl:part name="parameters" element="tns:extDebitResponse" />
  </wsdl:message>
  <wsdl:message name="extDebit2SoapIn">
    <wsdl:part name="parameters" element="tns:extDebit2" />
  </wsdl:message>
  <wsdl:message name="extDebit2SoapOut">
    <wsdl:part name="parameters" element="tns:extDebit2Response" />
  </wsdl:message>
  <wsdl:message name="SubmitSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSMS" />
  </wsdl:message>
  <wsdl:message name="SubmitSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GETMSISDNSoapIn">
    <wsdl:part name="parameters" element="tns:GETMSISDN" />
  </wsdl:message>
  <wsdl:message name="GETMSISDNSoapOut">
    <wsdl:part name="parameters" element="tns:GETMSISDNResponse" />
  </wsdl:message>
  <wsdl:portType name="CHARGINGSoap">
    <wsdl:operation name="CheckBalance">
      <wsdl:input message="tns:CheckBalanceSoapIn" />
      <wsdl:output message="tns:CheckBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="extDebit">
      <wsdl:input message="tns:extDebitSoapIn" />
      <wsdl:output message="tns:extDebitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="extDebit2">
      <wsdl:input message="tns:extDebit2SoapIn" />
      <wsdl:output message="tns:extDebit2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSMS">
      <wsdl:input message="tns:SubmitSMSSoapIn" />
      <wsdl:output message="tns:SubmitSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETMSISDN">
      <wsdl:input message="tns:GETMSISDNSoapIn" />
      <wsdl:output message="tns:GETMSISDNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHARGINGSoap" type="tns:CHARGINGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckBalance">
      <soap:operation soapAction="NMSCGW/CheckBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extDebit">
      <soap:operation soapAction="NMSCGW/extDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extDebit2">
      <soap:operation soapAction="NMSCGW/extDebit2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSMS">
      <soap:operation soapAction="NMSCGW/SubmitSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETMSISDN">
      <soap:operation soapAction="NMSCGW/GETMSISDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHARGINGSoap12" type="tns:CHARGINGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckBalance">
      <soap12:operation soapAction="NMSCGW/CheckBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extDebit">
      <soap12:operation soapAction="NMSCGW/extDebit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extDebit2">
      <soap12:operation soapAction="NMSCGW/extDebit2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSMS">
      <soap12:operation soapAction="NMSCGW/SubmitSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETMSISDN">
      <soap12:operation soapAction="NMSCGW/GETMSISDN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHARGING">
    <wsdl:port name="CHARGINGSoap" binding="tns:CHARGINGSoap">
      <soap:address location="http://203.128.246.85/NMS.asmx" />
    </wsdl:port>
    <wsdl:port name="CHARGINGSoap12" binding="tns:CHARGINGSoap12">
      <soap12:address location="http://203.128.246.85/NMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>